:root {
  --bg-body: #fafafa;
  --bg-header: #466173;
  --bg-footer: #273b47;

  --fontSize: 18px;
}

/* -- Custom Media queries */
@custom-media --mobile (max-width: 500px);
@custom-media --tablet (max-width: 650px);
@custom-media --desktop (max-width: 800px);
@custom-media --retina (-webkit-min-device-pixel-ratio: 2);

.InvieHero {
  background: url('../images/background.png') var(--bg-header);
  padding: 20px;
  height: 500px;

  @media (--retina) {
    background-image: url('../images/background2x.png');
  }

  &-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  &-copy {
    &-title{
      font-size: calc(var(--fontSize) * 3.5);
    }
  }
}

.InvieFooter {
  background-color: var(--bg-footer);
}
