@import './variables.css';
@import './iconsfonts.css';

/* -- Mixins */
@define-mixin btn $textColor, $bgColor, $bgColorStart, $bgColorEnd {
  border-radius: 12px;
  border: none;
  color: $(textColor);
  padding: 7px 12px;
  cursor: pointer;
  font-size: var(--fontSize);
  text-decoration: none;
  background: $(bgColor);
  background: linear-gradient(to left, $(bgColorStart), $(bgColorEnd))
}

.InvieHero {
  background: url('../images/background.png') var(--bg-header);
  padding: 20px;
  height: 500px;

  @media (--retina) {
    background-image: url('../images/background2x.png');
  }

  &-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  &-logo {
    transition: all 0.3s ease-in;
    &:hover {
      filter: blur(4px);
    }
  }

  &-copy {
    &-title{
      font-size: calc(var(--fontSize) * 3.5);
    }
    &-btn{
      @mixin btn var(--bg-body), var(--btn-gradient), var(--btn-gradient-start), var(--btn-gradient-end);

    }
  }
}

.InvieFooter {
  background-color: var(--bg-footer);
  &-form{
    &-btn{
      @mixin btn var(--bg-body), var(--btn-gradient), var(--btn-gradient-start), var(--btn-gradient-end);
    }
  }
}
